# =========================
# Maven
# =========================
/target/

# =========================
# EclipsEE IDEA
# =========================
/.idea/
*.iml
*.ipr
*.iws

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Application Local Config
# =========================
application-local.xml
application-local.properties

# =========================
# Build Artifacts
# =========================
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# =========================
# Crash Logs
# =========================
hs_err_pid*
replay_pid*